<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/merchstore.css' %}">

</head>
<body>

    <h1 id="site-name">HobbySite</h1>
    <div class="navbar">
        <a href="#" class="active">Merchandise</a>
        <a href="#">Wiki</a>
        <a href="#">Blog</a>
        <a href="#">Forum</a>
        <a href="#">Commission</a>
    </div>
    
    <div class="logout">
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>