body {
    background: #AD9066;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 30px;
}

#site-name {
    background-color: #7a4b39;
    color: #d4cfcc;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.navbar {
    background-color: #645840;
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: #d4cfcc;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    position: relative; 
    transition: transform 0.3s ease;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: #d4cfcc;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.navbar a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navbar a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: #d4cfcc;
    transform: scaleX(1);
    transform-origin: left;
}

.body-content {
    margin: 5px;
}

.welcome {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.welcome img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(6px);
}

.welcome h1 {
    background-color: rgba(0, 0, 0, 0.6);
    color: #eee;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 2.5rem;
}

.about-us {
    background: #fff;
    color: #7A4B39;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    position: relative;
    margin: 20px auto;
    padding: 10px 30px;
    text-align: center;
}

.about-us .about-us-tag {
    background: #7A4B39;
    width: 100%;
    margin-top: 0;
    border-radius: 12px;
    color:#eee;
}

.about-us .about-us-content {
    padding: 5px;
    text-wrap: wrap;
    word-wrap: break-word;
    text-justify: distribute;
}

.product {
    background: #fff;
    color: #7A4B39;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    position: relative;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.product h1 {
    text-align: center;
    background: #7A4B39;
    padding: 10px 10px;
    margin-top: 0;
    border-radius: 15px;
    color:#eee;
}

.product-list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 20px;
}

.product-type {
    background: #7A4B39;
    border: 2px solid #7A4B39;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.product-type h2, .product-type p {
    color: #eee;
}

.product li {
    background: #ad9066;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    transition: 0.3s;
    list-style: none;
    text-align: center;
}

.product li:hover {
    transform: scale(1.05);
}

.product li a {
    color: #342923;
    text-decoration: none;
}

.product li a:hover {
    color: #eee;
}

.entry {
    background: #fff;
    color: #333;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    position: relative;
    margin: 20px auto;
    padding: 20px 20px;
    text-align: center;
}

.entry h2 {
    background: #7A4B39;
    padding: 10px 10px;
    margin-top: 0;
    border-radius: 15px;
    color:#eee;
}

.entry h3 {
    text-decoration: underline;
    color: #7A4B39; 
    font-size: 1.3rem;
}

.entry .back-to-home {
    color: #333;
    width: fit-content;
    text-decoration: none;
    background: #ad9066;
    border-radius: 8px;
    padding: 10px;
    transition: 0.3s;
    place-self: center;
}

.entry a {
    color: #342923;
    text-decoration: none;
}

.entry .back-to-home:hover {
    transform: scale(1.05);
}

.entry a:hover {
    color: #eee;
}

footer {
    background-color: #342923;
    color: #d4cfcc;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}