{% extends "base_template.html" %}

{% block title %}{% if editing %}Update{% else %}Create{% endif %} Commission{% endblock %}

{% block content %}
<div class="commission-form">
    <h1>{% if editing %}Update{% else %}Create{% endif %} Commission</h1>
    
    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
            {{ form.title.errors }}
        </div>
        
        <div class="form-group">
            {{ form.description.label_tag }}
            {{ form.description }}
            {{ form.description.errors }}
        </div>
        
        <div class="form-group">
            {{ form.status.label_tag }}
            {{ form.status }}
            {{ form.status.errors }}
        </div>
        
        {% if editing %}
        <div class="form-group">
            <label>Created On:</label>
            <input type="text" value="{{ commission.created_on }}" readonly class="form-control">
        </div>
        
        <div class="form-group">
            <label>Author:</label>
            <input type="text" value="{{ commission.author }}" readonly class="form-control">
        </div>
        {% endif %}
        
        <h2>Jobs</h2>
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="job-form card mb-3">
                <div class="card-body">
                    {{ form.id }}
                    
                    <div class="row">
                        <div class="col-md-4">
                            {{ form.role.label_tag }}
                            {{ form.role }}
                        </div>
                        <div class="col-md-3">
                            {{ form.manpower_required.label_tag }}
                            {{ form.manpower_required }}
                        </div>
                        <div class="col-md-3">
                            {{ form.status.label_tag }}
                            {{ form.status }}
                        </div>
                        <div class="col-md-2">
                            {% if form.instance.pk %}
                                {{ form.DELETE.label_tag }}
                                {{ form.DELETE }}
                            {% endif %}
                        </div>
                    </div>
                    {{ form.non_field_errors }}
                </div>
            </div>
        {% endfor %}
        
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                {% if editing %}Update{% else %}Create{% endif %} Commission
            </button>
            <a href="{% if editing %}{% url 'commissions:detail' pk=commission.pk %}{% else %}{% url 'commissions:commissions_list' %}{% endif %}" 
               class="btn btn-secondary">
                Cancel
            </a>
        </div>
    </form>
</div>
{% endblock %}