<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/merchstore.css' %}">
</head>
<body>
    <h1 id="site-name">HobbySite</h1>
    <div class="navbar">
        <a href="{% url 'item_list' %}" class="active">Merchandise</a>
        <a href="#">Wiki</a>
        <a href="{% url 'article_list' %}">Blog</a>
        <a href="#">Forum</a>
        <a href="#">Commission</a>
    </div>
    {% block content %}
        
    {% endblock %}

    <footer>
        &copy; 2025 Hobbysite. All rights reserved.
    </footer>
</body>
</html>