{% extends 'item_base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}


    <div class="entry">
        <h2>{{ product.name }}</h2>
        <h3>PHP {{ product.price }}</h3>
        <div class="entry-content">
            <p>{{ product.description }}</p>
            <div class="back-to-home">
                <a href="{% url 'item_list' %}">Back to Home</a>
            </div>
            <div class="back-to-home">
                {% if product.owner == user.profile %}
                    <a href="{% url 'item_edit' product.id %}">Edit Product</a>
                {% else %}
            </div>
        </div>
    </div>
{% endblock %}