{% extends "forum/base.html" %}

{% block content %}
    <h2>Forum Threads</h2>

    {% if not selected_category %}
        <h3>Categories</h3>
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{% url 'forum:posts_by_category' category.id %}"><strong>{{ category.name }}</strong></a> - {{ category.description }}
                </li>
            {% empty %}
                <li>No categories available.</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if selected_category %}
        <h3>Posts under "{{ selected_category.name }}"</h3>
        <a href="{% url 'forum:thread_list' %}">Show all posts</a>
    {% else %}
        <h3>All Posts</h3>
    {% endif %}

    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'forum:thread_detail' post.id %}">{{ post.title }}</a><br>
                <small>Created on: {{ post.created_on|date:"Y-m-d H:i" }}</small> | 
                <small>Last updated: {{ post.updated_on|date:"Y-m-d H:i" }}</small>
            </li>
        {% empty %}
            <li>No threads available.</li>
        {% endfor %}
    </ul>
{% endblock %}
