{% extends "wiki/base.html" %}

{% block title %}Wiki - {{ article.title }}{% endblock %}

{% block list %}

<div>
    {% if user.is_authenticated %}
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="nav-link" type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

<h1>{{ article.title }}</h1>
<p><strong>Category:</strong> {{ article.category.name|default:"None" }}</p>

<div class="entry">
    <p>{{ article.entry|linebreaks }}</p>
</div>

<div class="down">
    <p><em>Created on: {{ article.created_on|date:"Y-m-d H:i" }}</em></p>
    <p><em>Updated on: {{ article.updated_on|date:"Y-m-d H:i" }}</em></p>

    <a href="{% url 'wiki:articles' %}" class="button">Back to Articles</a>
</div>

{% endblock %}