{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block list %}
    
    <div>
        {% if user.is_authenticated %}
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                {{form.as_p}}
                <button class="nav-link" type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>

    <h1>{{ article.title }}</h1>
    <p><strong>Category:</strong> {{ article.category }}</p>
    
    <div class="entry">
    <p>{{ article.entry }}</p>
    </div>


    <div class="down">
        <p><em>Created on: {{ article.created_on }}</em></p>
        <p><em>Updated on: {{ article.updated_on }}</em></p>

    <a href="/blog/articles/" class="button">Back to Blog</a>
    </div>
    

{% endblock %}