{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block list %}

    <h1>{{ article.title }}</h1>
    <p><strong>Category:</strong> {{ article.category }}</p>
    
    <div class="entry">
    <p>{{ article.entry }}</p>
    </div>

    <ul>
        {% if article.image %}
            <img src="{{ article.image.url }}" alt="{{ article.title }}" style="max-width: 100%; height: auto;">
        {% endif %}
    </ul>

    <div>
        {% if request.user.is_authenticated and request.user == article.author.user %}
            <a href="{% url 'article_update' article.id %}" class="button">Edit Article</a>
        {% endif %}
    </div>


    <div class="down">
        <p><em>Created on: {{ article.created_on }}</em></p>
        <p><em>Updated on: {{ article.updated_on }}</em></p>

    <a href="/blog/articles/" class="button">Back to Blog</a>
    </div>


    <h3>Comments</h3>
    {% for comment in comments %}
        <div class="comment">
            <p>{{ comment.entry }}</p>
            <p><small><em>By {{ comment.author }} on {{ comment.created_on }}</em></small></p>
        </div>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}

    <h3>Leave a Comment</h3>
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Post Comment</button>
    </form>
    

{% endblock %}