{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block category %}

    <h1>Blog Category</h1>

    {% for category in categories %}
        <div class="category_container">
            <h2>{{ category.name }}</h2>
            <p>{{ category.description }}</p>
            
            <div class="article_list">  
                {% for article in category.art_cat.all %}
                    <div class="artlist_cont" >{{ article.title }}
                        <a href="{% url 'article_detail' article.pk %}" class="button">Go to Page</a>
                    </div>
                    
                {% empty %}
                    <div class="artlist_cont">No articles in this category.</div>
                {% endfor %}
            </div>

        </div>
    {% empty %}
        <div>No categories available</div>
    {% endfor %}

{% endblock %}

{% block list %}

    <h2>Blog List</h2>
    <div class="article_list">
        {% for article in articles %}
            <div class="artlist_cont">
                <a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a> 
                <a>- {{ article.created_on }}</a>
            </div>
        {% empty %}
            <div>No articles available</div>
        {% endfor %}
    </div>


    <br>
    
    <a href="{% url 'article_create' %}"> Add Article</a>

{% endblock %}
